<div class="row news">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <p class="section">{{ section }}</p>
                        <h3><a href="{{ link }}" target="_blank">{{ title }}</a></h3>
                    </div>
                    <div class="col-4 text-right">
                        <div class="buttons">
                            {{#if isSaved}}
                            <button type="button" id="delete-saved" data-id="{{ id }}" class="btn btn-danger">
                                Delete from Saved
                            </button>
                            <button type="button" id="notes" data-id="{{ id }}" class="btn btn-danger">
                                Article Notes
                            </button>
                            {{else}}
                            <button type="button" id="save" data-id="{{ id }}" class="btn btn-danger">
                                Save Article
                            </button>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">{{ body }}</p>
            </div>
        </div>
    </div>
</div>